
db:
  # get the latest postgis server (a postgres with postgis installed)
  image: mdillon/postgis:9.3

  # Set db environment
  environment:
    POSTGRES_PASSWORD: mysecretpassword

  ports:
    - 5432

  # Auto restart container
  restart: always


  # to export volume, as recommeded in https://registry.hub.docker.com/u/library/mysql/
  volumes:
    - "./pg-data:/var/lib/postgresql/data"
    - "/etc/localtime:/etc/localtime:ro"

php:
  build: ./php
  #default command in php container (see .php/Dockerfile)
  volumes:
    - "/etc/localtime:/etc/localtime:ro"
  expose:
    - "9000"
  #links container togheter
  links:
    - db:postgres

  # Auto restart container
  restart: always

  volumes:
    - "/etc/localtime:/etc/localtime:ro"


nginx:
  # get the latest nginx image
  build: ./nginx
  volumes:
    - "/etc/localtime:/etc/localtime:ro"
  volumes_from:
    - php
  ports:
    - "80"
  links:
    - php

  # Auto restart container
  restart: always

  volumes:
    - "/etc/localtime:/etc/localtime:ro"
