
registry:
  image: registry:2
  restart: always
  #ports:
  #  - 5000:5000
  # environment:
  #   REGISTRY_HTTP_TLS_CERTIFICATE: /certs/domain.crt
  #   REGISTRY_HTTP_TLS_KEY: /certs/domain.key
  #   REGISTRY_AUTH: htpasswd
  #   REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
  #   REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
  volumes:
    - ./data:/var/lib/registry
    # - ./certs:/certs
    # - ./auth:/auth
    - ./conf/config.yml:/etc/docker/registry/config.yml
  links:
    - cache

cache:
  image: redis:3
  restart: always

nginx:
  image: "nginx:1.9"
  restart: always
  ports:
    - 5000:443
  links:
    - registry:registry
  volumes:
    - ./conf/ptp-registry.conf:/etc/nginx/conf.d/ptp-registry.conf
    - ./auth/:/etc/nginx/conf.d/auth/
    - ./certs/:/etc/nginx/conf.d/certs/
